* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}



html,
body {
    overflow-x: hidden
}

#wrapper {
    max-width: 1154px;
    margin: 0 auto;
}
.header {
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.container {
    max-width: 956px;
    padding-right: 8px;
    padding-left: 8px;

    margin: 0 auto;
}

/*header*/
.header-nav {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

}


.enter {
    display: flex;
    align-items: center;
}

.enter_btn {
    border: 1px solid #E0E0E0;
    width: 78px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    /* or 185% */
    color: #1D1D1D
}

.enter_basket {
    margin-left: 27px;
}

/*main*/
/*hero*/

.hero {
    background-image: url(../img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 364px;
    width: 100%;
}

.hero-menu {
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin-top: 80px;
    padding: 0;
}

.hero-content {
    padding: 38px;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.hero-info-category {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.hero-info-time {
    background: #262626;
    border-radius: 16px;
    width: 100px;
    height: 32px;
    color: #ffffff;
    font-size: 13px;
    padding: 8px 16px;
    text-align: center;
}

.hero-h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    text-align: center;
    margin-bottom: 54px;


}

/*menu*/


.menu {
    border: 1px solid rgba(117, 117, 117, 0.2);
}

.menu-nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu-nav_title a {
    text-decoration: none;
    color: #626262;
    font-size: 16px;
    margin-right: 40px;

}

.menu-nav_title a:hover {
    color: #327430;
}

.title__active a {
    color: #327430;
}


/*cards*/


.cards_title {
    font-size: 22px;
    margin-top: 56px;
    color: #1D1D1D;

}

.cards_name {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    width: calc(100% / 2 - 16px);
    margin: 32px 8px 17px;
    padding-right: 0;
    background: #F2F2F2;
    transition: all 0.3s linear;
}

.cards_name:hover {
    background-color:  rgba(117, 117, 117, 0.04);
    transform: scale(1.1);
    transition: all 0.3s linear;
    z-index: 0;
    cursor: pointer;
}

.card_tirle {
    color: #1D1D1D;
    font-size: 16px;
    Font-style: Regular;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;

}

.price {
    font-weight: 500;
}

/*footer*/
.footer {
    background-color: #262626;

}

.logo {
    padding-top: 56px;
    padding-bottom: 40px;
}

.footer_item {
    border-top: 1px solid #ffffff;
    padding-top: 32px;
    margin-bottom: 48px;
}

.select_lang {
    appearance: none;
    display: block;
    font-size: 13px;
    line-height: 15.23px;
    color: #ffffff;
    padding: 12px 128px 12px 48px;
    border: none;
    border-radius: 2px;
    width: 227px;
    background: url(../img/Shape1.png) 16px no-repeat, url(../img/Shape2.png) no-repeat 205px;
    background-color: #3b3b3b;
}

.footer_item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    margin-right: 13px;
}

.form_lang {
    margin-bottom: 33px;
}

.uber {
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 18.75px;
}

.uber span {
    color: #49A144;

}

.xesh_logo {
    height: 20px;
    margin-bottom: 20px;
}

.footer_item-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-apps {
    border-top: 1px solid #ffffff;
    padding-top: 39px;
    padding-bottom: 40px;
}

.footer-apps-center {
    display: flex;
    justify-content: center;
}

.footer-apps-center-left {
    padding-right: 20px;
}

.footer-apps-center-rigth {
    padding-left: 20px;
}

.footer-bottom {
    border-top: 1px solid #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-bottom a {
    color: #fff;
    font-size: 11px;
    text-decoration: none;

}



.arrow_vertical {
    position: fixed;
    border-radius: 2px;
    background-color: #59bd5a;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

img.arrow_vertical-pic {
    width: 40px;
    height: 40px;
}

/*index*/
.search {
    padding-top: 56px;
    margin-bottom: 0;
    color: #626262;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-size: 16px;

}

hr {
    margin: 0;
    background: #757575;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.rest-card {
    margin-top: 16px;
    
    transition: all 0.3s linear;
  
   
}


.rest-card:hover {
    background-color:  rgba(117, 117, 117, 0.04);
    transform: scale(1.1);
    transition: all 0.3s linear;
    z-index: 0;
    cursor: pointer;
  }
 img.rest-img {
    width: 100%;
}

.search-h1 {
    font-size: 22px;
    padding-top: 56px;
}

.rest-h5 {
    color: #1D1D1D;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}

.rest-title {
    font-size: 14px;
    line-height: 21px;
    color: #626262;
    margin-top: 4px;
}

.rest-time {
    font-size: 13px;
    color: #1D1D1D;
    line-height: 21px;
    margin-top: 4px;
    margin-bottom: 20px;
}

/*colors*/

.color1 {
    background-color: #fff;
}